n8n_automation/working-simple-workflow.json
{
  "name": "WebSweep Data Removal Request",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "data-removal-request",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "data-removal-request"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.name }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_USER }}",
        "toEmail": "={{ $json.email }}",
        "subject": "Data Removal Request - {{ $json.target_company }}",
        "message": "Dear {{ $json.name }},\n\nWe have received your request to remove your personal data from {{ $json.target_company }}.\n\nRequest Details:\n- Name: {{ $json.name }}\n- Email: {{ $json.email }}\n- Location: {{ $json.location }}\n- Target Company: {{ $json.target_company }}\n- Additional Context: {{ $json.additional_context }}\n\nWe will process this request within 30 days as required by GDPR/CCPA regulations.\n\nBest regards,\nWebSweep Team",
        "options": {
          "host": "={{ $env.SMTP_HOST }}",
          "port": "={{ $env.SMTP_PORT }}",
          "user": "={{ $env.SMTP_USER }}",
          "password": "={{ $env.SMTP_PASS }}",
          "secure": false
        }
      },
      "id": "send-email",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.FIREBASE_URL }}/removal_requests/{{ $now.format('YYYY-MM-DD-HH-mm-ss') }}_{{ $json.name.replace(' ', '_') }}.json",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.name }}"
            },
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "location",
              "value": "={{ $json.location }}"
            },
            {
              "name": "target_company",
              "value": "={{ $json.target_company }}"
            },
            {
              "name": "additional_context",
              "value": "={{ $json.additional_context }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $now.toISO() }}"
            },
            {
              "name": "status",
              "value": "pending"
            }
          ]
        },
        "options": {}
      },
      "id": "save-to-firebase",
      "name": "Save to Firebase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Data removal request processed successfully', requestId: $now.format('YYYY-MM-DD-HH-mm-ss') + '_' + $json.name.replace(' ', '_') }) }}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Invalid input data' }) }}"
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save to Firebase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation Email": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Firebase": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}
